# Python
__pycache__/
*.py[oc]
*.egg-info
# Build
build/
dist/
wheels/
# Virtual environments
.venv
# Linters & type checkers
.mypy_cache/
.ruff_cache/
.pre-commit-cache/
.pytest_cache/
# Testing
pytest_cache/
.coverage
# Data & artifacts
*data/
*artifacts/
# Environment
.env
.env.local
.env.*.local
# uv
.uv/
# OS
.DS_Store
Thumbs.db
# Logs
*.log
# Image data
*/mnist_data

# ignore structure file
structure.txt
# basic memory
basic-memory
# agents
.cursor/
# cache
.cache/
